<div class="row">
  <div class="col-md-12 col-sm-12" >

    <div class="accordion pb-0" id="accordionExample" style="margin: 20px; width: 100%;">
      <div class="accordion-item ">
        <h2 class="accordion-header ">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           User List
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body pb-0" >
            <table class="table ml-sm-0"  >
              <thead>
                <tr>
                  <th scope="col">User Name</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">email</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody style="overflow-y: scroll;"  *ngFor="let item of Users">
                <tr >
                  <th scope="row">{{item.userName}}</th>
                  <td>{{item.firstName}}</td>
                  <td>{{item.lastName}}</td>
                  <td>{{item.email}}</td>
                   <td><button type="button" class="btn btn-danger mt-0 mb-0">Delete User</button></td>
                </tr>
              </tbody>
              <tfoot class="p-0">
                <button type="button"  data-bs-toggle="modal"   data-bs-target="#NewUser" class="btn btn-success mt-3 mb-0">Add New User</button>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>




  <div class="col-md-6 col-sm-12" >

    <div class="accordion pb-0" id="accordionExample" style="margin: 20px; width: 100%; overflow-y:auto;">
      <div class="accordion-item ">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Admins List
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body pb-0" >
            <table class="table ml-sm-0" >
              <thead>
                <tr>
                  <th scope="col">User Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">BirthDay</th>
                </tr>
              </thead>
              <tbody *ngFor="let items of Admins">
                <tr >
                  <th scope="row">{{items.userID.userName}}</th>
                  <td>{{items.userID.email}}</td>
                  <td>{{items.birthDay}}</td>
                   <td><button type="button" class="btn btn-danger mt-0 mb-0">Delete</button></td>
                </tr>
              </tbody>
              <tfoot class="p-0">
                <button type="button" data-bs-toggle="modal"   data-bs-target="#NewAdmin" class="btn btn-success mt-3 mb-0">Add Admin</button>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>









  <div class="col-md-6 col-sm-12">

    <div class="accordion pb-0" id="accordionExample" style="margin: 20px; width: 100%; overflow-y:auto;">
      <div class="accordion-item ">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Teacher List
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body pb-0" >
            <table class="table ml-sm-0" >
              <thead>
                <tr>
                  <th scope="col">User Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">BirthDay</th>
                </tr>
              </thead>
              <tbody *ngFor="let items of Teachers">
                <tr >
                  <th scope="row">{{items.userID.userName}}</th>
                  <td>{{items.userID.email}}</td>
                  <td>{{items.birthDay}}</td>
                   <td><button type="button" class="btn btn-danger mt-0 mb-0">Delete</button></td>
                </tr>
              </tbody>
              <tfoot class="p-0">
                <button type="button" data-bs-toggle="modal"   data-bs-target="#NewTeacher" class="btn btn-success mt-3 mb-0">Add Teacher</button>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>



  <div class="col-md-6 col-sm-12">

    <div class="accordion pb-0" id="accordionExample" style="margin: 20px; width: 100%; overflow-y:auto;">
      <div class="accordion-item ">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Student List
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show"  data-bs-parent="#accordionExample">
          <div class="accordion-body pb-0" >
            <table class="table ml-sm-0" >
              <thead>
                <tr>
                  <th scope="col">User Name</th>
                  <th scope="col">email</th>
                  <th scope="col">Birth Day</th>
                </tr>
              </thead>
              <tbody *ngFor="let items of Students">
                <tr >
                  <th scope="row">{{items.userID.userName}}</th>
                  <td>{{items.userID.email}}</td>
                  <td>{{items.birthDay}}</td>
                   <td><button type="button" class="btn btn-danger mt-0 mb-0">Delete</button></td>
                </tr>
              </tbody>
              <tfoot class="p-0">
                <button type="button" class="btn btn-success mt-3 mb-0" data-bs-toggle="modal"   data-bs-target="#NewStudent">Add Student</button>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>




  <div class="col-md-6 col-sm-12">

    <div class="accordion pb-0" id="accordionExample" style="margin: 20px; width: 100%; overflow-y:auto;">
      <div class="accordion-item ">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Subjects List
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body pb-0" >
            <table class="table ml-sm-0" >
              <thead>
                <tr>
                  <th scope="col">Subject Name</th>
                  <th scope="col">Describtion</th>
                </tr>
              </thead>
              <tbody *ngFor="let items of Subjects">
                <tr >
                  <th scope="row">{{items.subjectName}}</th>
                  <td>{{items.desc}}</td>
                   <td><button type="button" class="btn btn-danger mt-0 mb-0">Delete</button></td>
                </tr>
              </tbody>
              <tfoot class="p-0">
                <button type="button" data-bs-toggle="modal"   data-bs-target="#Newsub" class="btn btn-success mt-3 mb-0">Add Subject</button>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>




  <div class="col-md-6 col-sm-12" >

    <div class="accordion pb-0" id="accordionExample" style="margin: 20px; width: 100%; overflow-y:auto;">
      <div class="accordion-item ">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Courses List
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body pb-0" >
            <table class="table ml-sm-0" >
              <thead>
                <tr>
                  <th scope="col">Course Name</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Teacher</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of Courses">
                <tr >
                  <th scope="row">{{item.courseName}}</th>
                  <td>{{item.sub_ID.subjectName}}</td>
                  <td>{{item.teacher_ID.userID.userName}}</td>
                   <td><button type="button" class="btn btn-danger mt-0 mb-0">Delete</button></td>
                </tr>
              </tbody>
              <tfoot class="p-0">
                 <button type="button" data-bs-toggle="modal"   data-bs-target="#NewCourse" class="btn btn-success mt-3 mb-0">Add Course</button>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>



  <div class="col-md-6 col-sm-12" >

    <div class="accordion pb-0" id="accordionExample" style="margin: 20px; width: 100%; overflow-y:auto;">
      <div class="accordion-item ">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Enrollments List
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body pb-0" >
            <table class="table ml-sm-0" >
              <thead>
                <tr>
                  <th scope="col">Course Name</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Teacher</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of Enro">
                <tr >
                  <th scope="row">{{item.course_id.courseName}}</th>
                  <td>{{item.course_id.sub_ID.subjectName}}</td>
                  <td>{{item.student_id.userID.userName}}</td>
                  <td>{{item.eDate}}</td>
                   <td><button type="button" class="btn btn-danger mt-0 mb-0">Delete</button></td>
                </tr>
              </tbody>
              <tfoot class="p-0">
                <button type="button" data-bs-toggle="modal"   data-bs-target="#NewEnro" class="btn btn-success mt-3 mb-0">Add Enrollment</button>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>

  </div>








  <div class="modal fade" id="NewUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Adding new user</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="Userform">
            <div class="mb-3">
              <label for="UserName" class="col-form-label">User Name:</label>
              <input type="text" formControlName="userName" class="form-control" id="UserName">
            </div>
            <div class="mb-3">
              <label for="password" class="col-form-label">Password:</label>
              <input type="password" formControlName="password" class="form-control" id="password">
            </div>
            <div class="mb-3">
              <label for="firstName" class="col-form-label">First Name:</label>
              <input type="text" formControlName="firstName" class="form-control" id="firstName">
            </div>
            <div class="mb-3">
              <label for="lastName" class="col-form-label">Last Name:</label>
              <input type="text" formControlName="lastName" class="form-control" id="lastName">
            </div>
            <div class="mb-3">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" formControlName="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
              <label for="Personalpic" class="col-form-label">Personal Picture:</label>
              <input type="file" formControlName="picture" class="form-control" data-classButton="btn btn-primary" id="Personalpic" accept="image/*"/>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" [disabled]="!Userform.valid" (click)="ConfirmNewUser()">Confirm New User</button>
        </div>
      </div>
    </div>
  </div>




  <div class="modal fade" id="NewAdmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Selecting Admin</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="Adminform">
            <select #UserToAdminDropDownList class="form-select form-select-lg mb-3" aria-label="Large select example" (change)="selectedUserToAdmin()">
              <option selected value="">Select User To be Admin</option>
              <option *ngFor="let items of UsersForSelectAdminList" value="{{items.userID}}">{{items.userName}}</option>
            </select>

            <div class="mb-3">
              <label for="BirthDay" class="col-form-label">Birth Day:</label>
              <input type="date" formControlName="Birth" class="form-control" id="BirthDay">
            </div>


          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success"[disabled]="!Adminform.valid" (click)="ConfirmNewAdmin()">Confirm</button>
        </div>
      </div>
    </div>
  </div>






  <div class="modal fade" id="NewTeacher" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Selecting Teacher</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="Teacherform">
            <select #TeacherDropDownList class="form-select form-select-lg mb-3" aria-label="Large select example" (change)="getSelectedTecher()" >
              <option selected value="">Select User To be Teacher</option>
              <option *ngFor="let items of UsersForSelectTeacherList" value="{{items.userID}}">{{items.userName}}</option>
            </select>
            <div class="mb-3">
              <label for="BirthDay" class="col-form-label">Birth Day:</label>
              <input type="date" formControlName="Birth" class="form-control" id="BirthDay">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success"  (click)="ConfirmNewTeacher()">Confirm</button>
        </div>
      </div>
    </div>
  </div>






  <div class="modal fade" id="NewStudent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Selecting Student</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="Studentform">
            <select #StudentDropDownList class="form-select form-select-lg mb-3" aria-label="Large select example" (change)="getSelectedStudent()">
              <option selected value="">Select User To be Student</option>
              <option *ngFor="let items of UsersForSelectStudentList" value="{{items.userID}}">{{items.userName}}</option>
            </select>
            <div class="mb-3">
              <label for="BirthDay" class="col-form-label">Birth Day:</label>
              <input type="date" formControlName="Birth" class="form-control" id="BirthDay">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" [disabled]="!Studentform.valid" (click)="ConfirmNewStudent()">Confirm</button>
        </div>
      </div>
    </div>
  </div>






  <div class="modal fade" id="Newsub" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Adding Subject</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="Subjectform">
            <div class="mb-3">
              <label for="Title" class="col-form-label">Title:</label>
              <input type="text" formControlName="SubjectName" class="form-control" id="Title">
            </div>

            <div class="mb-3">
              <label for="Describtion" class="col-form-label">Describtion:</label>
              <input type="text" formControlName="Desc" class="form-control" id="Describtion">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" [disabled]="!Subjectform.valid" (click)="NewSubConfirm()">Confirm</button>
        </div>
      </div>
    </div>
  </div>





  <div class="modal fade" id="NewCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Adding Course</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="Courseform">
            <div class="mb-3">
              <label for="Title" class="col-form-label">Title:</label>
              <input type="text" formControlName="CourseName" class="form-control" id="Title">
            </div>

            <div class="mb-3">
              <label for="Describtion" class="col-form-label">Describtion:</label>
              <input type="text" formControlName="Describtion" class="form-control" id="Describtion">
            </div>

            <div class="mb-3">
              <label for="startDate" class="col-form-label">Start Date:</label>
              <input type="date" formControlName="StartDate" class="form-control" id="startDate">
            </div>

            <div class="mb-3">
              <label for="Enddate" class="col-form-label">End Date:</label>
              <input type="date" formControlName="EndDate" class="form-control" id="Enddate">
            </div>
            <select #SubjectDropDownList class="form-select form-select-lg mb-3" aria-label="Large select example" (change)="selectedSubject()">
              <option selected value="">Select Subject for this course</option>
              <option *ngFor="let items of Subjects" value="{{items.subID}}">{{items.subjectName}}</option>
            </select>

            <select #TeacherinCourseDropDownList class="form-select form-select-lg mb-3" aria-label="Large select example" (change)="selectedTeacherForCourse()">
              <option selected value="">Select Teacher for this course</option>
              <option *ngFor="let items of Teachers" value="{{items.teacherID}}">{{items.userID.userName}}</option>
            </select>

            <select class="form-select form-select-lg mb-3" aria-label="Large select example">
              <option selected>in which institute this course</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" [disabled]="!Courseform.valid" (click)="ConfirmNewCourse()">Confirm</button>
        </div>
      </div>
    </div>
  </div>




  <div class="modal fade" id="NewEnro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Adding enrollment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="enrollmentform">

            <div class="mb-3">
              <label for="endate" class="col-form-label">Date:</label>
              <input type="date" formControlName="eDate" class="form-control" id="endate">
            </div>


            <select #StudentforEnroDropDownList  class="form-select form-select-lg mb-3" aria-label="Large select example" (change)="SelectedStudentForEnro()">
              <option selected value="">Select Student to enroll in course</option>
              <option *ngFor="let items of Students"  value="{{items.studentID}}">{{items.userID.userName}}</option>
            </select>

            <select #CourseDropDownList class="form-select form-select-lg mb-3" aria-label="Large select example" (change)="SelectedCourse()">
              <option selected value="">for which Course this enrollment</option>
              <option *ngFor="let items of Courses" value="{{items.courseID}}">{{items.courseName}}</option>

            </select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button (click) = "onEnrollementConfirm()"  type="button" class="btn btn-success" [disabled]="!enrollmentform.valid" >Confirm</button>
        </div>
      </div>
    </div>
  </div>
