
<div class="row">


  <div class="col-md-12 col-sm-12" >


<form [formGroup]="Content">
<!-- <div class="mb-3">
  <label for="Title" class="form-label">Title:</label>
  <input type="text" class="form-control" id="Title" placeholder="New Task">
</div>

<div class="mb-3">
  <label for="StartDate" class="form-label">Start Date:</label>
  <input type="datetime" class="form-control" id="StartDate">
</div>

<div class="mb-3">
  <label for="EndDate" class="form-label">End Date:</label>
  <input type="datetime" class="form-control" id="EndDate">
</div>

<div class="mb-3">
  <label for="MaxGrade" class="form-label">Max Grade:</label>
  <input type="number" class="form-control" id="MaxGrade">
</div> -->

<div class="mb-3">
  <label for="attachment" class="form-label">attachment:</label>
  <input type="file" formControlName="attachment" class="form-control" id="attachment" (change)="onFileSelected($event)">

</div>

<table style="margin-top: 15px;" class="table table-striped rounded-5 border  pt-2 pb-2 " *ngFor="let FilesItems of AttachFiles">
  <tbody class="rounded-5" style=" overflow-y: scroll;" >
    <tr>
      <td >{{FilesItems.attachment}}</td>
       <td ><button style="float: right;" type="button" class="btn btn-danger mt-0 mb-0"><i style="background:transparent; color:white;" class="fa fa-trash fa-duotone fa-bounce fa-lg"></i></button></td>
    </tr>
  </tbody>
</table>

<div class="mb-3">
  <label for="Descrbtion" class="form-label">Descrbtion:</label>
  <textarea class="form-control" formControlName="Descrbtion" id="Descrbtion" rows="3"></textarea>
</div>
</form>
<button type="button" class="btn btn-primary "><i style="background:transparent; color:white;" class="fa fa-upload fa-duotone fa-bounce fa-lg" (click)="setAttachment()"></i></button>
<button style="margin-left: 10px;" type="button" class="btn btn-success " (click)="updatedescrbtionInContent()"><i style="background:transparent; color:white;" class="fa fa-check fa-duotone fa-bounce fa-lg" ></i>Submit</button>

</div>
</div>
